---
---
body {
  padding-top: 10px;
}

.header {
  padding: 10px;
  border-radius: 10px;
  background: #f9f9f9;
}

h2 {
  padding: 10px;
  border-radius: 10px;
  background: #f9f9f9;
}

.brand {
  color: #7d0022;
  font-family: 'Abel', sans-serif;
}

.page-break {
  page-break-after: always;
}