<div class="row header">
  <h1>Marc Chamberlin <small>Web & Software Engineer</small></h1>

  <a id="email" href="" class="btn btn-default">
    <i class="fa fa-envelope fa-lg"></i>
  </a>

  <a href="https://www.linkedin.com/in/chamberlinmarc/en" class="btn btn-default">
    <i class="fa fa-linkedin fa-lg"></i>
  </a>

  <a href="https://github.com/Chambeur" class="btn btn-default">
    <i class="fa fa-github fa-lg"></i>
  </a>

  <a href="https://stackoverflow.com/users/2969823/chambeur?tab=profile" class="btn btn-default">
    <i class="fa fa-stack-overflow fa-lg"></i>
  </a>

  {% if page.header_subtext %}
    <h4><small>{{ page.header_subtext }}</small></h4>
  {% endif %}
</div>
